<!DOCTYPE html>
<html>
	<head>
		<title>{{ wireguard_ui_self_service }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<link href="styles/home.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

	</head>
	<body class="loggedin">
		<div class="sidebar">
		  <h4>{{ wireguard_ui_self_service }}</h4>
		  <a href="home.php" class="active"><i class="fas fa-home"></i> {{ home }}</a>
		  {% if isadmin == 'Y' %}
		  <a href="users.php"><i class="fas fa-users"></i> {{ users }}</a>
		  <a href="settings.php"><i class="fas fa-sliders-h"></i> {{ settings }}</a>
		  {% endif %}
		  <a href="profile.php"><i class="fas fa-user-circle"></i> {{ profile }}</a>
		  <a href="help.php"><i class="fas fa-question-circle"></i> {{ help }}</a>
		  <a href="about.php"><i class="fas fa-info-circle"></i> {{ about }}</a>
		  <a href="logout.php"><i class="fas fa-sign-out-alt"></i> {{ logout }}</a>	
		</div>
		<div class="content">

    {% for error in errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}

	{% for warning in warnings %}
	  <div class="alert alert-warning" role="alert">
        {{ warning }}
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
	
	
	
		
		<!-- iframe src="proxy.php" class="second-row" id="ifm" width="100%" height="600px" frameBorder="0"></iframe -->
		<iframe src="{{ wguiURL }}" class="second-row" id="ifm" width="100%" height="600px" frameBorder="0"></iframe>
		
		</div>
		
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		
		<script type="text/javascript">

		var buffer = 20; //scroll bar buffer
var iframe = document.getElementById('ifm');

function pageY(elem) {
    return elem.offsetParent ? (elem.offsetTop + pageY(elem.offsetParent)) : elem.offsetTop;
}

function resizeIframe() {
    var height = document.documentElement.clientHeight;
    height -= pageY(document.getElementById('ifm'))+ buffer ;
    height = (height < 0) ? 0 : height;
    document.getElementById('ifm').style.height = height + 'px';
}

// .onload doesn't work with IE8 and older.
if (iframe.attachEvent) {
    iframe.attachEvent("onload", resizeIframe);
} else {
    iframe.onload=resizeIframe;
}

window.onresize = resizeIframe;
resizeIframe();

		</script>
		
	</body>
</html>